.mainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
}
.mainHeaderLeft {
  display: flex;
  align-items: center;
  padding: 2px;
  color: rgb(180, 175, 175);
}
.mainHeaderRight {
  display: flex;
  align-items: center;
  padding: 2px;
  color: rgb(180, 175, 175);
}
